https://github.com/distributed-technologies/yggdrasil/releases/download/v0.1.0/argo-chart-v0.1.0.tgz nidhogg-workflow nidhogg
https://github.com/distributed-technologies/mukube-loadbalancer/releases/download/v0.1.1/default.mukube-loadbalancer-v0.1.1.tgz loadbalancer metallb-system
